<div class="footer">
    <h3 class="header header--big footer__header">
        #visitSEDONA
    </h3>

    <div class="footer__social social">
        <span class="social__icon"></span>
        <span class="social__icon"></span>
        <span class="social__icon"></span>
    </div>

    <div class="footer__developed-by developed-by">
        <h2 class="developed-by__text">
            Разработано
        </h2>
        <img src="../../icons/icon-htmlacademy.svg" alt="" class="developed-by__icon">
    </div>
</div>