<ul class="mobile-menu">
    <img inline src="../../icons/icon-cross.svg" alt="" class="mobile-menu__close js-mobile-menu__close">
    <li class="mobile-menu__item">
        <a href="/" class="mobile-menu__link">Главная</a>
    </li>
    <li class="mobile-menu__item">
        <a href="/photos.html" class="mobile-menu__link">фото и видео</a>
    </li>
    <li class="mobile-menu__item">
        <a href="/form.html" class="mobile-menu__link">Форма отзыва</a>
    </li>
    <li class="mobile-menu__item">
        <a href="" class="mobile-menu__link">HTML academy</a>
    </li>
</ul>