<ul class="top-menu">
    <li class="top-menu__item">
        <a href="/" class="top-menu__link">Главная</a>
    </li>
    <li class="top-menu__item">
        <a href="/photos.html" class="top-menu__link">фото и видео</a>
    </li>
    <picture>
        <source media="(min-width: 1200px)" srcset="../../icons/logotyle-desktop.svg">
        <img src="../../icons/logotyle-mobile.svg" alt="logo" class="menu__logo">
    </picture>
    <li class="top-menu__item">
        <a href="/form.html" class="top-menu__link">Форма отзыва</a>
    </li>
    <li class="top-menu__item">
        <a href="" class="top-menu__link">HTML academy</a>
    </li>
    <img src="../../icons/icon-menu.svg" alt="menu icon" class="top-menu__open js-top-menu__open">
</ul>