.button-squire {
    display: block;
    background-color: $blue;
    padding-top: 15px;
    padding-bottom: 17px;
    font-size: 21px;
    line-height: 26px;
    color: white;
    text-transform: uppercase;
    border: none;
    outline: none;
    font-weight: 700;
    font-family: 'PT Sans';
    text-align: center;

    @include blue-styles;

    &:active {
        color: hsla(0, 100%, 100%, 0.3);
    }
}