.feedback-form-section {

    &__header {
        white-space: nowrap;
    }
    &__textarea {
        width: 100%;
        padding: 28px 22px;
        outline: none;
        background-color: $grey;
        border: none;
        height: 160px;
        color: black;

        &::placeholder {
            color: black;
            font-size: 18px;
            font-weight: 700;
            line-height: 26px;
            font-family: 'PT Sans';
        }
    }

    @media(min-width: $tablet) {
        &__textarea {
            padding: 18px 22px;
        }
    }
}