.feedback-form-section {
    &__textarea {
        width: 100%;
        padding: 22px 28px;
        outline: none;
        background-color: $grey;
        border: none;
        height: 160px;

        &::placeholder {
            font-size: 18px;
            font-weight: 700;
            line-height: 26px;
            color: black;
            font-family: 'PT Sans';
        }
    }
}