.header {
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;

    &\--big {
        padding-bottom: 14px;
    }

    @media(min-width: $tablet) {
        font-size: 21px;
    }
}