.page {
    &__top-menu {
        height: 56px;
    }

    &\--index {
        .page__hero {
            height: 390px;
        }
    }

    &\--form {
        .page__hero {
            height: 160px;
            background-position: 50% 100%;
            text-transform: uppercase;
            font-size: 50px;
            color: white;

            &::before {
                content: "sedona";
                text-transform: uppercase;
                font-size: 58px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                z-index: 3;
                font-weight: 700;
                font-family: 'PT Sans';
            }

            .hero__text {
                display: none;
            }
        }
    }

    &__footer {
        height: 240px;
    }

    @media(min-width: $tablet) {
        &\--index {
            .page__hero {
                height: 518px;
            }
        }

        &\--form {
            .page__hero {
                height: 290px;
            }
        }

        &__footer {
            height: initial;
        }
    }

    @media(min-width: $desktop) {}
}