.page {
    &__top-menu {
        height: 56px;
    }
    &\--index {
        .page__hero {
            height: 390px;
        }
    }
    &__footer {
        height: 240px;
    }

    @media(min-width: $tablet) {
        &\--index {
            .page__hero {
                height: 518px;
            }
        }

        &__footer {
            height: initial;
        }
    }

    @media(min-width: $desktop) {

        
        
    }
}