.page {
    &__top-menu {
        height: 56px;
    }

    &\--index {
        .page__hero {
            height: 390px;
        }
    }

    &\--form,
    &\--photos {
        .page__hero {
            height: 160px;
            background-position: 50% 100%;
            text-transform: uppercase;
            font-size: 50px;
            color: white;

            &::before {
                content: "sedona";
                text-transform: uppercase;
                font-size: 10vw;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                z-index: 3;
                font-weight: 700;
                font-family: 'PT Sans';
            }

            .hero__text {
                display: none;
            }
        }
    }

    &__footer {
        height: 240px;
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }

    &__form {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }

    @media(min-width: $tablet) {
        &\--index {
            .page__hero {
                height: 518px;
            }
        }

        &\--form,
        &\--photos {
            .page__hero {
                height: 290px;
            }
        }

        &__footer {
            height: initial;
        }

        &__video {
            padding-left: 60px;
            padding-right: 60px;
            margin-bottom: 40px;
        }
    }

    @media(min-width: $desktop) {

        &\--form,
        &\--photos {
            .page__hero {
                height: 300px;
            }
        }

        &__video {
            max-width: 800px;
            padding: 0;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 85px;
        }

        &\--photos {
            .footer {
                max-width: 1200px;

                &__item {
                    width: 33.33%;
                }

                &__header {
                    margin-left: 0;
                    text-align: center;
                }

                &__developed-by {
                    margin-right: 0;
                }
            }
        }
    }
}