.section-interested {
    padding-bottom: 48px;
    padding-top: 30px;

    &__header {
        font-size: 21px;
    }

    &__button {
        margin-top: 34px;
        width: 100%;
    }
}