.social {
    display: flex;
    justify-content: center;

    &__icon {
        height: 48px;
        width: 46px;
        background-color: $blue;
        display: flex;
        align-items: center;
        justify-content: center;

        @include blue-styles;
    }

    &__icon+&__icon {
        margin-left: 6px;
    }

    &__img:active {
        opacity: 0.3;
    }
}